h1, h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #d9d914;
}
p, li {
    font-family: Arial, Helvetica, sans-serif;
}
#borda {
    background-color: #46e04b;
    border: 5px black solid;
    padding: 20px 20px;
    margin: 20px 10px;
}
span.azul {
    color: blue;
    background-color: #d9d914;
}
td, th{
    border: 2px black solid;
  }
tr.fundoAzul{
    background-color: #3c9ce6;
    color: white;
    font-weight: bold;
}
tr.fundoAmarelo{
    background-color: #f5f249;
    color: green;
    font-weight: bold;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}